extends layout

block content
    .page-content(ng-app="ValidationDemo")
        h1= title
        .person-form(ng-controller="DemoCtrl")
            form(action="#", method="get", name="DemoForm", val-on-submit="submitForm($scope)")
                .input-group()
                    input(type="text", name="FirstName", ng-model="firstName", val-required="Please specify")
                .input-group
                    input(type="text", name="LastName", ng-model="lastName", val-required="Please specify")
                .form-actions
                    button(type="submit", class="btn btn-primary") Submit

        .not-a-form(val-on-submit="wrong()")

block scripts
    script(src="/javascripts/validation.js")
    script(src="/javascripts/demo.js")
